{% extends 'base.html' %}

{% block header %}
  {% block title %}Player History{% endblock %}
{% endblock %}

{% block content %}
<div class="row-1">
  <a href="{{ url_for('player_history.list_view') }}">View full login list</a>
</div>
<div class="row-2">
  <table id="summary" class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Logins</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    new DataTable('#summary', {
      ajax: '/player_history/summary/data',
      columns: [
        {data: 'player_name', orderable: true, searchable: true},
        {
          data: 'login_count',
          orderable: true,
          searchable: false,
          render: function (data, type, row) {
            if (type === 'display') {
              return '<a href="/player_history/player/' + encodeURIComponent(row.player_name) + '">' + data + '</a>';
            }
            return data;
          }
        }
      ]
    });
  });
</script>
{% endblock %}
