{% extends 'base.html' %}

{% block header %}
  {% block title %}Login History: {{ player_name }}{% endblock %}
{% endblock %}

{% block content %}
<div class="row-1">
  <a href="{{ url_for('player_history.index') }}">&larr; Back to summary</a>
  &nbsp;|&nbsp;
  <a href="{{ url_for('player_history.list_view') }}">View full login list</a>
</div>
<div class="row-2">
<table>
  <tbody><tr>
      <td>Minimum Logged on date:</td>
      <td><input type="text" id="min" name="min"></td>
  </tr>
  <tr>
      <td>Maximum Logged on date:</td>
      <td><input type="text" id="max" name="max"></td>
  </tr>
</tbody></table>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Character Name</th>
        <th>Server Name</th>
        <th>Logged on</th>
        <th>Logged off</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    let minDate, maxDate;
    // Custom filtering function which will search data in column two between two values
    DataTable.ext.search.push(function (settings, data, dataIndex) {
        let min = minDate.val();
        let max = maxDate.val();
        let date = new Date(data[2]);

        if (
            (min === null && max === null) ||
            (min === null && date <= max) ||
            (min <= date && max === null) ||
            (min <= date && date <= max)
        ) {
            return true;
        }
        return false;
    });
    // Create date inputs
    minDate = new DateTime('#min', {
        format: 'MMMM Do YYYY'
    });
    maxDate = new DateTime('#max', {
        format: 'MMMM Do YYYY'
    });

    var table = new DataTable('#data', {
      ajax: '/player_history/player/{{ player_name }}/data',
      layout: {
          top: {
              searchPanes: {
                  viewTotal: true
              }
          }
      },
      columns: [
        {data: 'character_name', orderable: true, searchable: true},
        {data: 'server_name', orderable: true, searchable: true},
        {data: 'logon_time', orderable: true, searchable: true},
        {data: 'logoff_time', orderable: true, searchable: true}
      ],
      columnDefs: [
        {type: 'date', targets: 2, render: DataTable.render.datetime('ddd, DD MMM YYYY h:mm:ss a', 'en')},
        {type: 'date', targets: 3, render: DataTable.render.datetime('ddd, DD MMM YYYY h:mm:ss a', 'en')},
        {
            searchPanes: {
                initCollapsed: true,
                show: true,
            },
            targets: [1]
        },
        {
            searchPanes: {
                show: false,
            },
            targets: [0, 2, 3]
        },
      ],
    });

    // Refilter the table
    document.querySelectorAll('#min, #max').forEach((el) => {
        el.addEventListener('change', () => table.draw());
    });
  });
</script>
{% endblock %}
