<!doctype html>
<html>
  
  <head>
    <link href="https://nightly.datatables.net/css/dataTables.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/datetime/1.5.5/css/dataTables.dateTime.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/searchpanes/2.3.3/css/searchPanes.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/select/3.0.0/css/select.dataTables.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <nav>
    <h3>GS Manager</h3>
    <ul>
      {% if g.user %}
        <li><span>{{ g.user['username'] }}</span></li>
        <li><a href="{{ url_for('file_manager.index') }}">File Manager</a></li>
        <li><a href="{{ url_for('server_config.index') }}">Server Configs</a></li>
        <li><a href="{{ url_for('players.index') }}">Active Players</a></li>
        <li><a href="{{ url_for('player_history.index') }}">Player History</a></li>
        <li><a href="{{ url_for('volume_manager.index') }}">Volumes</a></li>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        <li><a href="{{ url_for('auth.register') }}">Reg</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
      {% endif %}
    </ul>
  </nav>
  
  <body>
    <h1><center>{% block title %}{% endblock %}</center></h1>
    {% if g.user %}
    <div class="content">
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/datetime/1.5.5/js/dataTables.dateTime.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/searchpanes/2.3.3/js/dataTables.searchPanes.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/3.0.0/js/dataTables.select.js"></script>
  
    {% block scripts %}{% endblock %}
    {% endif %}
    {% block insecure %}{% endblock %}
  </body>
</html>


