{% extends 'base.html' %}

  {% block title %}Servers{% endblock %}
    <a class="action" href="{{ url_for('server_config.create') }}">New</a>

{% block content %}
  <meta http-equiv="refresh" content="2" />
  <center><a class="action" href="{{ url_for('server_config.create') }}">Create New Server</a></center>
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['server_name'] }}</h1>
          <div class="about">Server Name {{ post['module_name'] }} on port {{ post['port'] }}</div>

        </div>
          <a class="action" href="{{ url_for('server_config.delete', id=post['id']) }}">Delete</a>
          {% if server_status == "down" %}
            <a class="status_error"> Backend Down </a>
          {% elif post['is_active'] == 0 %}
            <a></a>
            <a class="status_not_active"> Not Active </a>
          {% elif post['status'] == "running" %}
            <a class="status_good"> {{ post['status'] }} </a>
          {% elif post['status'] == "loading" %}
            <a class="status_loading"> {{ post['status'] }} </a>
          {% elif post['status'] == "stopping" %}
            <a class="status_stopping"> {{ post['status'] }} </a>
          {% elif post['status'] == "stopped" %}
            <a class="status_stopped"> {{ post['status'] }} </a>
          {% elif post['status'] == "error" %}
            <a class="status_error"> {{ post['status'] }} </a>
          {% else %}
            <a class="status_stopped"> Manually Stopped </a>
          {% endif %}
          {% if post['status'] == "running"%}
            <a class="action" href="{{ url_for('server_config.stop', id=post['id']) }}">stop</a>
          {% else %}
            <a class="action" href="{{ url_for('server_config.start', id=post['id']) }}">Start</a>
          {% endif %}
          <a class="action" href="{{ url_for('server_config.copy', id=post['id']) }}">Copy</a>
          <a class="action" href="{{ url_for('server_config.update', id=post['id']) }}">Edit</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

