{% extends 'base.html' %}

{% block title %}Servers{% endblock %}

{% block content %}
  <a href="{{ url_for('server_config.create') }}">New</a>
  <table id="t_serv_cfg" class="display">
    <thead>
        <tr>
            <th>Server</th>
            <th>Delete</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
  </table>
{% endblock %}

{% block scripts %}
<script>
  let socket;
  $(document).ready(function(){
    var table = new DataTable('#t_serv_cfg',{
      "ajax": "/cfg_data",
      columnDefs: [
        {
          render: function ( data, type, row ) {
            return "<div class='title_txt'>"+row.server+"</div><br>"+"<div class='about'>"+row.module+" on port "+row.port+"</div>";
          },
          targets: [1]
        },
        {
          render: function ( data, type, row ) {
            return "<div class='status_"+row.severity +"'>"+row.status+"</div>";
          },
          targets: [3]
        },
        {
          target: 0,
          visible: false
      }
      ],
      columns: [
        { data: "id"},
        { data: "server"},
        {
          data: null,
          className: 'dt-center editor-delete',
          defaultContent: '<button>Delete</button>',
          orderable: false
      },
        { data: "status" },
        {
          className: 'dt-center editor-action',
          render: function (full, type, data, meta){
            let button = data.action
            button = String(button[0]).toUpperCase()  + String(button).slice(1);
            if (button == "None"){
              //let row = table.row(meta.row)
              //action = row.data().action
              return "<button type='button' disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button><button>Edit</button><button>Copy</button>";
            }
            else
              return "<button type='button'>"+button+"</button><button>Edit</button><button>Copy</button>";
          }
        },
      ],
    }); //End DataTables

    socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on("connect", () => {
      console.log("connected");
      socket.emit('get_statuses');
    });
    
    socket.on("status_changed", function(data){
      console.log("status_changed");
      table.ajax.reload();
    });

    socket.on("disconnect", () => {
      console.log("disconnected");
    });

    table.on('click', 'td.editor-delete button', function (e) {
      let data = table.row(e.target.closest('tr')).data();
      console.log("delete");
      socket.emit('do_action', {'delete': data});
      e.currentTarget.disabled = true
    });  
    
    table.on('click', 'td.editor-action button', function (e) {
      let data = table.row(e.target.closest('tr')).data();
      let cmd = e.currentTarget.innerHTML
      console.log(cmd + ": " + data);
      socket.emit('do_action', {[cmd]: data});
      if (cmd == "Stop" || cmd == "Start"){
        e.currentTarget.disabled = true;
      }
    });
  });//End Ready function
</script>
{% endblock %}
