{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}File Manager{% endblock %}</h1>

{% endblock %}

{% block content %}
  <html>
    <head>
      <title>File manager</title>
    </head>
    <body>
      <div align="center">
        <h1>Local file system</h1>
      </div>
        <form name="newdir" action="/file_manager/md">
          <input type="submit" value="New folder"/>
          <input name="folder" type="text" value="new_folder"/>
        </form>

        <form name="fupload" action = "/file_manager/upload" onsubmit="return validateForm()" method = "post" enctype="multipart/form-data">
          <label> Upload File: </label>
            <input type="file" name="file" />
            <input type="hidden" id="cwd", name="cwd", value="{{ cwd }}">
            <input type = "submit" value="Upload">
        </form>

      <table class="file_table">
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><a href="/file_manager/cd?path={{ cwd }}&go_par=yes">..</a></td>
          <td></td>
        </tr>
          {% for file in file_info %}
            <tr>
              {% if '.' != file[0][0] %}
                <div filename={{file[0]}}>
                {% if file[1] == "file" %}
                  <td><a>{{file[0]}}</a></td><td><a href="/file_manager/download?path={{cwd + '/' + file[0]}}"> (Download)</a></td><td><a href="/file_manager/rm?path={{cwd + '/' + file[0]}}" id="{{file[0]}}" onclick="return delFileCheck(this.id);"> (Delete)</a></td>
                {% else %}
                  <td><strong><a href="/file_manager/cd?path={{cwd + '/' + file[0]}}" >{{file[0]}}</a></strong></td><td></td><td><a href="/file_manager/rm?path={{cwd + '/' + file[0]}}" id="{{file[0]}}" onclick="return delDirCheck(this.id);"> (Delete)</a></td>
                {% endif%}
                </div>
              {% else %}
                <td></td><td></td>
              {% endif%}
          {% endfor %}
      </table>
      
      <script>
        function delFileCheck(id) {
          var fname = document.getElementById(id).id;
          var retVal = confirm("Are you sure you want to delete the file " + fname);
          if (retVal == true) {
              // do stuff
              return true;
          } else {
              return false;
          }
      }
      function delDirCheck(id) {
        var fname = document.getElementById(id).id;
        var retVal = confirm("WARNING!!!! Are you sure you want to delete the directory " + fname + " and all of its contents!!!!");
        if (retVal == true) {
            // do stuff
            return true;
        } else {
            return false;
        }
    }
    
    function validateForm() {
      let x = document.forms["fupload"]["file"].value;
      if (x == "") {
        alert("File must be selected");
        return false;
      }
    }
      </script>
        
    </body>
  </html>
{% endblock %}

