{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}File Manager{% endblock %}</h1>

{% endblock %}

{% block content %}
        <html>
          <head>
            <title>File manager</title>
          </head>
          <body>
            <div align="center">
              <h1>Local file system</h1>
            </div>
            <ul>
              <form action="/file_manager/md">
                <input type="submit" value="New folder"/>
                <input name="folder" type="text" value="new_folder"/>
              </form>

              <form action = "/success" method = "post" enctype="multipart/form-data">
                <label> Upload File: </label>
                  <input type="file" name="file" />
                  <input type = "submit" value="Upload">
              </form>

              <li><a href="/file_manager/cd?path=..">..</a></li>
              {% for item in file_list %}
                {% if '.' not in item %}
                  <li><strong><a href="/file_manager/cd?path={{cwd + '/' + item}}">{{item}}</a></strong><a href="/file_manager/rm?dir={{item}}"> (Delete)</a></li>
                {% elif '.txt' in item or '.py' in item or '.json' in item %}
                  <li><strong><a href="/file_manager/view?file={{cwd + '/' + item}}">{{item}}</a></strong></li>
                {% else %}
                  <li>{{item}}</li>
                {% endif%}
              {% endfor %}
            </ul>
          </body>
        </html>
{% endblock %}

