[Unit]
Description=Game Server Manager web application
After=network.target

[Service]
User=v_malarik
WorkingDirectory=/home/v_malarik/dev/gs-manager
ExecStart=/home/v_malarik/dev/gs-manager/.venv/bin/gunicorn -b 0.0.0.0:5000 -w 4 'gs_manager:create_app()'
Restart=always

[Install]
WantedBy=multi-user.target
