[Unit]
Description=NWNee backend game manager application
After=gsmanager.target

[Service]
User=v_malarik
WorkingDirectory=/home/v_malarik/dev/gs-manager
Environment="PYTHONPATH=/home/v_malarik/dev/gs-manager"
ExecStart=/home/v_malarik/dev/gs-manager/.venv/bin/python backends/nwnee/docker/nwnee.py
Restart=always

[Install]
WantedBy=multi-user.target
