{% extends 'base.html' %}

{% block header %}
  {% block title %}Logged in users{% endblock %}

{% endblock %}

{% block content %}
  <meta http-equiv="refresh" content="2" />
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['player_name'] }}</h1>
          <div class="about">Character {{ post['character_name'] }} logged onto {{ post['server_name'] }} on {{ post['logon_time'].strftime('%Y-%m-%d at %I:%M:%S %p') }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}