{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Volume Manager{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('volume_manager.index') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for volume in volumes %}
    <article class="post">
      <header>
        <div>
          <h1>{{ volume }}</h1>
          <div class="about">
            <table>
                <tr>
                  <th>Server Mount Directory</th>
                  <th>Source Directory</th>
                  <th><a class="action" href="{{ url_for('volume_manager.index') }}">add</a></th>
                  <th></th>
                </tr>
                {% for mnt in volumes[volume] %}
                <tr>
                  <td>{{ volumes[volume][mnt]['mount_loc'] }}</td>
                  {% if mnt != 'description' %}
                    <td>{{ mnt }}</td>
                    <td><a class="action" href="{{ url_for('volume_manager.index', id=volumes[volume][mnt]['id']) }}">edit</a></td>
                    <td><a class="action" href="{{ url_for('volume_manager.delete', id=volumes[volume][mnt]['id']) }}">delete</a></td>
                  {% endif %}
                </tr>
                {% endfor %}

              </table>
            <p class="body"><b>{{ volumes[volume]['description'] }}</b></p>
          </div>
        </div>
      </header>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

